apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backups-pvc
  namespace: org-management
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: standard